---
import { SITE_TITLE, SITE_DESCRIPTION, LIMIT_POSTS } from '../../consts';
import { getCollection } from 'astro:content';
import Pager from '../../components/Pager.astro';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).reverse().slice(0, LIMIT_POSTS);
---

<Pager>
    <ul>
        {
        posts.map((post) => (
        <li>
            <a href={`/blog/${post.slug}/`}>
                { post.data.heroImage && <img width={720} height={360} src={post.data.heroImage} alt={post.data.title} />}
                <h3 class="title">{post.data.title}</h3>
                <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                </p>
                <p class="description">{post.data.description}</p>
            </a>
        </li>
        ))
        }
    </ul>
    <a href="/blog/1" class="to-pages">Todos los artículos</a>
</Pager>

<style>
    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        width: 100%;
        height: 100%;
    }
    ul li * {
        text-decoration: none;
        transition: 0.2s ease;
    }	
    ul li img {
        margin-bottom: 0.5rem;
        border-radius: 10px;
        width: 100%;
    }
    ul li a {
        display: block;
        margin: 1rem 0;
    }
    .title {
        margin: 1rem 0 .5rem 0;
        color: light-dark(var(--foreground-light), var(--foreground));
        line-height: 1;
    }
    .date, .description {
        margin: .5rem 0;
        font-family: "Atkinson","monospace";
    }
    ul li a .description {
        color: light-dark(var(--foreground-light), var(--foreground-white));
    }
    ul li a .date {
        color: var(--gray);
        font-size: 1rem;
    }
    ul li a:hover .date {
        color: light-dark(var(--dark-blue), var(--blue));
    }

    ul a:hover img {
        box-shadow: var(--box-shadow);
    }  

    li:hover h3 {
        border-left: 3px solid var(--red);
        padding-left: 1rem;
    }

    @media screen and (min-width: 720px) {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        ul li:first-child {
            grid-column: span 2;
            text-align: center;
            
            h3 {
                width: fit-content;
                margin: auto;
            }

            &:hover h3 {
                border-left: none;
                padding-left: 0; 
                border-bottom: 3px solid var(--red);
                padding-bottom: 1rem; 
            }
        }
    }
</style>
