---
import { SITE_TITLE, IMAGES, AKA } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
const title="Sobre mí";
const description=`Hola, soy Angel Perez Ravelo (AKA ${SITE_TITLE}). Soy un estudiante de ingeniería en sistemas e informática y actualmente me especializo en el área de hacking ético y la ciberseguridad ofensiva. Empecé en el área de la tecnología con el desarrollo de aplicaciones web, pero ahondando cada vez más en otras áreas, encontré el de la ciberseguridad y actualmente me especializo en ese área.`;
const pubDate=new Date('May 28 2024');
const updatedDate=null;
---

<html lang="es">
    <head>
        <BaseHead title={title} description={description} />
    <style>
        main {
            width: calc(100% - 2em);
            max-width: 100%;
            margin: 0 auto;
            color: var(--foreground);
            background-color: var(--background);
        }
        .hero-image {
            width: 100%;
        }
        .hero-image img {
            display: block;
            margin: 0 auto;
            border-radius: 12px;
            box-shadow: var(--box-shadow);
        }
        .prose {
            max-width: 800px;
            width: calc(100% - 2em);
            margin: auto;
            padding: 1em;
            color: rgb(var(--gray-dark));
        }
        .title {
            margin-bottom: 1em;
            padding: 1em 0;
            text-align: center;
            line-height: 1;
        }
        .title h1 {
            margin: 0 0 0.5em 0;
        }
        .date {
            margin-bottom: 0.5em;
            color: var(--gray);
            font-family: 'Atkinson', 'monospace';
        }
        .last-updated-on {
            font-style: italic;
        }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <article>
                <div class="prose">
                    <div class="title">
                        <div class="date">
                            <FormattedDate date={pubDate} />
                            {
                            updatedDate && (
                                    <div class="last-updated-on">
                                Last updated on <FormattedDate date={updatedDate} />
                            </div>
                            )
                            }
                        </div>
                        <h1>{title}</h1>
                        <hr />
                    </div>  
                    <div class="avatar">
                        <img src=`/${IMAGES.avatar}` alt="Angel Perez Ravelo">
                    </div>
                    <p>
                        Hola, soy Angel Perez Ravelo (AKA <b>{AKA}</b>). Soy un estudiante de ingeniería en sistemas e informática y actualmente me especializo en el área de <b>hacking ético</b> y la <b>ciberseguridad ofensiva</b>. Empecé en el área de la tecnología con el desarrollo de aplicaciones web, pero ahondando cada vez más en otras áreas, encontré el de la ciberseguridad y actualmente me especializo en ese área.
                    </p>
                    <p>
                        Tengo un <a href="/blog/" target="_blank">blog</a> en el que escribo artículos sobre herramientas de hacking, tips <i>tech</i>, linux, ciberseguridad, programación, entre otros. Los artículos en ciertos casos muy técnicos por la naturaleza de algúnos temas, pero trato hacerlos lo más accesibles de entender. Si están interesados en colaborar con este proyecto estaría encantado de recibir su apoyo y trabajar con ustedes, en el apartado de <a href="/contact" target="_blank">contácto</a> puedes encontrár varios métodos para comunicarte conmigo.
                    </p>
                    <p>
                        Mi objetivo con el blog es mostrar cómo es realmente el área de la seguridad informática y en estos artículos trato de simplificar conceptos para que sea agradable de leer y que el contenido se entienda con facilidad, pero no por ello se descuida el contenido ni mucho menos. También deseo crear una comunidad en la que todos podemos colaborar, compartir conocimiento, ideas, experiencias, etc.
                    </p>
                    <h2>Educación</h2>
                    <ol>
                        <li>Ingeniería de sistemas e informática (2022 - 2026) en <a href="https://ucontinental.edu.pe/" target="_blank" rel="noopener noreferrer">UC</a>.</li>
                        <li>Autodidacta (<a href="https://academy.hackthebox.com/" target="_blank" rel="noopener noreferrer">HTB Academy</a>, <a href="https://tryhackme.com/" target="_blank" rel="noopener noreferrer">TryHackMe</a>, <a href="https://portswigger.net/" target="_blank" rel="noopener noreferrer">Portswigger</a>, etc).</li>
                    </ol>
                    <h2>Habilidades</h2>
                    <div class="tab">
                        <h3><em>Soft Skills</em></h3>
                        <ul>
                            <li>Resolución de problemas.</li>
                            <li>Trabajo en equipo.</li>
                            <li>Paciencia.</li>
                            <li>Adaptabilidad.</li>
                        </ul>
                        <br>
                        <h3><em>Technical skills</em></h3>
                        <ul>
                            <li>Linux.</li>
                            <li>Bash, Python, Javascript y Rust.</li>
                            <li>Redes.</li>
                            <li><i>Hacking ético.</i></li>
                        </ul>
                    </div>
                    <h2>Hobbies</h2>
                    <ul>
                        <li>Cocinar 🍰 🍗 🥗.</li>
                        <li>Deportes 🏊  🥊.</li>
                        <li>Arte: Música e ilustración 🎨  🎺.</li>
                    </ul>
                    <br>
                    <p>Muchas gracias por llegar hasta aquí. 😄</p>
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>

<style>
img {
    border-radius: 50%;
    width: 180px;
    aspect-ratio: 1 / 1;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    img {
        object-position: center -1rem;
        object-fit: cover;
    }
}

h2 {
    margin-top: 4rem;
}

.tab {
    text-indent: 1.5rem;
    margin-top: 3rem;

    ul {
        list-style: inside;
    }
}
</style>
